<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
				<add key="sqlDataProvider" value="System.Data.SqlClient"/>
				<add key="sqlServerConnectionString" value="<Use proper db connection string>"/>
				<add key="tdsServerIpAddress" value="::1"/>
				<add key="tdsServerPort" value="11000"/>
		</appSettings>
</configuration>
